@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

* {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 250px;
    max-height: 250px;
    display: flow;
}

div#items {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

div.item {
    display: flex;
    flex-direction: column;
}

span.details {
    text-align: center;
}

div.variant {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
div.sizes {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}

div.sizes span {
    border: 1px solid lightcoral;
    background-color: lightcoral;
}

span.details {
    margin-bottom: 30px;
}